.buttonScrollTop{
    position:fixed;
    bottom:8%;
    right:2%;
    display:none;
}

.grey-text-1 {
    color: #212121 !important;
}

.grey-text-2 {
    color: #424242 !important;
}

.selected-image {
    padding-bottom: 5px;
    border-bottom: 3px solid #b71c1c;
    margin-bottom:7px;
}

.unselected-image {
    padding-bottom: 15px;
}

.material-icons.inactive {
    color: rgba(0, 0, 0, 0.26); 
}
i{
    vertical-align: middle !important; 
}
.images-number {
    background-color:#b71c1c;
    height:42px !important;
    width:42px !important;
    border-radius: 50%;
    color: white !important;
}

.prodotti-container {
    border-bottom: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    margin-bottom: 16px !important;
    box-shadow: 2px 2px 1px #eeeeee;
}

.title-prodotti{
    font-size:26px;
    font-weight:300
}

.catalogo-container:hover img{
    filter: brightness(85%);
}