/* NAVBAR */
nav .brand-logo {
  color: #b71c1c;
}

nav ul a {
    color: #444;
}

nav ul a:hover {
    background-color: rgba(183, 28, 28,0.3);
}

nav ul li.active a{
    background-color: #b71c1c;
    color:white;
}

nav .button-collapse i {
  height: 56px;
  line-height: 56px;
  color: #444;
}
/* FINE */

/* TABS DELLA NAVBAR */
.tabs.tabs-transparent .tab a.active {
    color: #b71c1c;
}

.tabs.tabs-transparent .tab a {
   color: #444; 
}

.tabs.tabs-transparent .tab a:hover {
   color: #b71c1c;
}

.tabs.tabs-transparent .indicator {
    background-color: #b71c1c;
}
/* FINE */

.buttonScrollTop{
    position:fixed;
    bottom:8%;
    right:2%;
    display:none;
}

.grey-text-1 {
    color: #212121 !important;
}

.grey-text-2 {
    color: #424242 !important;
}

.image-prod {
    border: 1px solid #b0bec5;
    margin-bottom: 8px !important;
}

.material-icons.inactive {
    color: rgba(0, 0, 0, 0.26); 
}

i{
    vertical-align: middle !important; 
}

.images-number {
    background-color:#b71c1c;
    height:42px !important;
    width:42px !important;
    border-radius: 50%;
    color: white !important;
}

.prodotti-container {
    border-bottom: 2px solid #eeeeee ;
    border-right: 2px solid #eeeeee ;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    margin-bottom: 16px !important;
    box-shadow: 0px 2px 1px #eeeeee ;
}

.title-prodotti{
    font-size:26px;
    font-weight:300
}

.title-prodotti.no-padd{
    margin-bottom: 0px;
    margin-top: 8px;
}

.catalogo-container:hover img{
    filter: brightness(85%);
}

/* Immagini del paragrafo IN PRIMO PIANO */
.grow {
    transition:all 0.5s ease;
}

.grow-animation {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* ICONA DEL SITO NELLA NAVBAR */
.ico-home {
    margin-top: 6px;
    height: 48px;
    border: 1px solid #ffcdd2;
}